

  <div class= 'container'>
    <div class= 'page-header'>
      <h1><% if @task.complete == true %>
        <s><%= @task.description %></s>
      <% else %>
        <%= @task.description %>
      <% end %>
      <div class="pull-right">
        <%= link_to "Edit", edit_project_task_path([:project_id], @task), class: "btn btn-info" %>
      </div>
    </h1>
  </div>



        <ol class='breadcrumb'>
          <li><%= link_to 'Projects', projects_path %></li>
          <li><%= link_to @project.name, project_path(@project) %></li>
          <li><%= link_to 'Tasks', project_tasks_path(@project, @task) %></li>
          <li class="active"><%= @task.description %></li>
        </ol>

        <p>
          <% if @task.due_date %>
          <strong>Due On:</strong>
            <%= @task.due_date.strftime("%m/%d/%Y") %>
          <% end %>
        </p>

  <head><h3>Comments</h3></head>

      <% @comments.each do |comment| %>
        <p>
        <div class="row">
          <div class="col-md-3">
            <% if comment.user == nil %>
              <%= "Deleted User" %>
            <% else %>
          <%= link_to "#{comment.user.full_name}", user_path(comment.user) %>
        <% end %>

          <div class= "text-muted">
            <%= "#{time_ago_in_words(comment.created_at)} ago" %>
          </div>

      </div>
        <div class="col-md-9 pull-right">
          <%= comment.text %>
        </div>
      </div>
    </p>
      <% end %>




    <%= form_for([@task, @comment]) do |f| %>
    <p>
      <div class="col-md-9 pull-right">
        <%= f.text_area :text, class: "form-control" %><br>
          </p>
            <%= f.submit "Add Comment", class: "btn btn-primary" %>
              </div>


            <% end %>




</div> <!-- container div-->
