<div class='container'>
<div class="col-sm-12">
  <div class="well col-sm-6 col-sm-offset-3">
    <div class="form-group">
      <h3 class = "page-header">Sign up for gCamp!</h3>
      <% if flash[:failure] %>
        <strong><p class="text-danger"><%= flash[:failure] %></p></strong>
      <% end %>
        <div class="form-horizontal">
          <%= form_for @user do |f| %>

          <div class="form-group"></div>
            <%= f.label :first_name, class: "pull-left control-label " %>
            <div class="col-md-6"></div>
              <%= f.text_field :first_name, class: "col-sm-12 form-control" %>

          <div class="form-group"></div>
            <%= f.label :last_name, class: "pull-left control-label" %>
            <div class="col-md-6"></div>
            <%= f.text_field :last_name, class: "col-sm-12 form-control" %>


           <div class="form-group"></div>
             <%= f.label :email, class: "pull-left control-label" %>
             <div class="col-md-6"></div>
              <%= f.email_field :email, class: "col-sm-12 form-control" %>


           <div class="form-group"></div>
             <%= f.label :password, class: "pull-left control-label" %>
             <div class="col-md-6"></div>
              <%= f.password_field :password, class: "col-sm-12 form-control" %>


           <div class="form-group"></div>
             <%= f.label :password_confirmation, class: "pull-left control-label" %>
             <div class="col-md-6"></div>
            <%= f.password_field :password_confirmation, class: "col-sm-12 form-control" %>


         <div class="form-group">
           <div class="col-sm-6 pull-left"><br>
             <%= f.submit "Sign Up", root_path class: "btn btn-default"%>
           </div>
         </div>
       <% end %>
      </div>
    </div>
  </div>
</div>

</div>
