<div class="container">
  <div class="page-header">
    <h1>Frequently Asked Questions</h1>
  </div>

  <br>
  <ul class="text-info">
    <li><u><%= link_to"What is gCamp?" %></u></li>
    <li><u><%= link_to"How do I join gCamp?" %></u></li>
    <li><u><%= link_to"When will gCamp be finished?" %></u></li>
  </ul>

  <br>

<div>
        <% @commonquestions.each do |display|%>
        <%= display[0] %>
        <% end %>
</div>
  <br>

  <p>gCamp is an awesome tool that is going to change your life.  gCamp
    is your one stop shop to organize all your tasks. </p>
    <p> You'll also be able to track comments that you and others make.  gCamp may
      eventually replace all need for paper and pens</p><p> in the entire world.
        Well, maybe not, but it's going to be pretty cool.</p>


        <br>
        <u><%= link_to"top" %></u>

        <p><h3>How do I join Gcamp?</h3></p>

        <br>

        <p>As soon as it's ready for the public, you'll see a signup link in the upper right.</p>
        <p>Once that's there, just click it and fill in the form!<p>


          <br>
          <u><%= link_to"top" %></u>


          <p><h3>When will gCamp be finished?</h3></p>

          <br>


          gCamp is a work in progress.  That being said, it should be fully functional in the next few weeks.</p>
          <p>Functional.  Check in daily for new features and awesome functionality.  It's going to blow your mind.</p>
          <p> Organization is just a click away.  Amazing!</p>




          <br>
          <u><%= link_to"top" %></u>




        </div>
